body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.margin-fix {
  margin-top: 25px;
}

.borderless {
  border-style: none;
}

/* To override awkward styling with Segments in ArtViewAndNavigation, where first child
has no margin-top */

.ui.segment:first-child {
    margin-top: 1rem;
}
